<div class="goshuin-show-page">
  <div class="goshuin-show-card">
    <% if @goshuin.image.attached? %>
      <div class="goshuin-show-image">
        <%= image_tag @goshuin.image %>
      </div>
    <% else %>
      <div class="goshuin-show-no-image">
        画像は登録されていません
      </div>
    <% end %>
    <h1 class="goshuin-show-title">
      <%= @goshuin.place_name %>
    </h1>

    <div class="goshuin-show-item">
      <span class="goshuin-show-label">参拝日</span>
      <span class="goshuin-show-value"><%= @goshuin.visited_date %></span>
    </div>

    <div class="goshuin-show-item">
      <span class="goshuin-show-label">種類</span>
      <span class="goshuin-show-value"><%= @goshuin.category.name %></span>
    </div>

    <div class="goshuin-show-item">
      <span class="goshuin-show-label">参拝メモ</span>
      <div class="goshuin-show-memo"><%= @goshuin.memo || "メモはありません"%></div>
    </div>

    <div class="goshuin-show-actions">
      <%= link_to "御朱印帳に戻る", goshuins_path, class: "goshuin-back-link" %>
    </div>
  </div>
</div>